<div class="product-container">
  <h2 class="title">🛍️ Product List</h2>

 <!-- Product Add Button (ADMIN only) -->
  <div *ngIf="role === 'ADMIN'" class="admin-actions">
    <button class="toggle-btn" (click)="toggleAddForm()">
      {{ showAddForm ? '➖ Close Form' : '➕ Add Product' }}
    </button>

  <!-- Product Add Form -->
    <div *ngIf="showAddForm" class="add-form">
      <input type="text" placeholder="Product Name" [(ngModel)]="newProduct.name" />
      <input type="number" placeholder="Price" [(ngModel)]="newProduct.price" />
      <input type="number" placeholder="Quantity" [(ngModel)]="newProduct.quantity" />
      <button (click)="addProduct()">Add Product</button>
    </div>
  </div>


  <!-- Product Cards -->

  <div class="product-grid">
   


    <div class="product-card" *ngFor="let product of products">
      <img 
           [src]="getProductImage(product.name)" 
           (error)="onImageError($event)" 
           alt="{{ product.name }}" 
           class="product-img"
      />


      <div class="product-info">
        <h3>{{ product.name }}</h3>
        <p>💰 Price: ₹{{ product.price }}</p>
        <p>📦 Quantity: {{ product.quantity }}</p>
      </div>

      <div class="card-actions">
        <button *ngIf="role === 'USER'" (click)="buyProduct(product)" class="buy-btn">Buy Now</button>
        <button *ngIf="role === 'ADMIN'" (click)="deleteProduct(product.id)" class="delete-btn">Delete</button>
      </div>
    </div>
  </div>
</div>
